# Based on certain assummptions, we will clean the data

- **Soviet Union** was dissolved in 1991, therfore, we will not consider soviet union in our model
- A total of 25 medals were awarded to the **mixed teams** in the first three Summer Olympic Games, from 1896 to 1904 and a single medal was awarded in the 1924 Winter Olympic Games.  We will not consider that.
- Similarly, we will not consider  **Russia Empire**.
- **Bohemia** is now a part of Czech Republic. So, we will remove it.
- **Czechoslovakia** broke into Czech Republic and Slovakia in 1992.
- The country **Yogoslavia**, doesn't exist anymore. We will not consider this country.
- The country of **Ceylon**, is now called Sri-Lanka.
- The **United Team of Germany** was a combined team of athletes from West Germany and East Germany that competed in the 1956, 1960 and 1964 Winter and Summer Olympic Games. Therefore, we will consider it as Germany.
- **Formosa**, is known as Taiwan. It is known as Chineese Taipei
- The region **British West Indies** is now split into different countries. We will not consider it.
- **East Germany and West Germany** unified after the fall of Berlin Wall. So, we will combine both datasets into a singular germany.
- The **Netherlands Antilles** was a group of five Caribbean islands that were part of the Kingdom of the Netherlands.Therefore, we will not consider it.
- The **Unified Team** was the name used for the sports team of the former Soviet Union (except the Baltic states) at the 1992 Winter Olympics in Albertville and the 1992 Summer Olympics in Barcelona. Therefore, we will not consider it.
- We will not consider **Independent Olympic Participants**
- **FR Yugoslavia** The Federal Republic of Yugoslavia ended in 2003. It is now called Serbia and Montenegro. Therefore, we will use Serbia and Montenegro. 
- The country of **Macedonia** is North Macedonia to be exact.
- The Refugee Olympic Team is a group made up of independent Olympic participants who are refugees. We will not consider it.
- Similarly, **Australasia** represents a broader continental region. Also, it was only during 1908 and 1912. Therefore, we will not consider it.
- Since, **Russia** is not allowed in the 2028 Olympics, we will not consider it. We will also not consider ROC.
- The medals that were distributed to the participants during **1906** were later not officially recognised by the IOC. Therefore, we will not consider 1906.
- The **1916** summer olympics were cancelled due to World War I. Therefore, we will remove all 1916 data.
- Similarly, we will also remove all data during **1940** and **1944** because of World War II.
- There is multiple mention of United Kingdom and Great Britain. We replace it with United Kingdom
- Malaya was the British Kingdom and Now called Malaysia. So, we will replace Malay with Malaysia.
- Lebanon has two short terms LIB and LBN.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from wordcloud import WordCloud

from sklearn.preprocessing import LabelEncoder
import pickle

In [2]:
url_medal_count = './data/summerOly_medal_counts.csv'
url_atheletes = './data/summerOly_athletes.csv'
url_hosts = './data/summerOly_hosts.csv'
url_programs = './data/encoded-summerOly_programs.csv'

In [6]:
# Load dataset
df_medal_count = pd.read_csv(url_medal_count)

df_hosts = pd.read_csv(url_hosts)

df_programs = pd.read_csv(url_programs)

df_medal_count['NOC'] = df_medal_count['NOC'].str.strip()

In [7]:
# Remove countries
countries_to_remove = ['Soviet Union','ROC','Russia','Mixed team','Russian Empire','Czechoslovakia','Bohemia',
                       'Yugoslavia','British West Indies','Netherlands Antilles',
                       'Unified Team', 'Independent Olympic Participants', 'Refugee Olympic Team', 'Australasia', 'West Germany'
                      ]

df_medal = df_medal_count[~df_medal_count['NOC'].isin(countries_to_remove)]

# Now, replace Ceylon with Sri Lanka
df_medal['NOC'] = df_medal['NOC'].str.replace('Ceylon', 'Sri Lanka')

# Now, replace East and West Germany with Germany
# df_medal['NOC'] = df_medal['NOC'].str.replace('West Germany', 'Germany')
# df_medal['NOC'] = df_medal['NOC'].str.replace('East Germany', 'Germany')

# Now, replace Formosa with Chineese Taipei
df_medal['NOC'] = df_medal['NOC'].str.replace('Formosa', 'Chinese Taipei')


# Now, replace FR Yugoslavia with Serbia and Montenegro
df_medal['NOC'] = df_medal['NOC'].str.replace('FR Yugoslavia', 'Serbia and Montenegro')

# Now, replace Great Britain with United Kingdom
df_medal['NOC'] = df_medal['NOC'].str.replace('Great Britain', 'United Kingdom')

# Now, replace Macedonia with North Macedonia
df_medal['NOC'] = df_medal['NOC'].str.replace('Macedonia', 'North Macedonia')

/tmp/ipykernel_2830/2139335115.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medal['NOC'] = df_medal['NOC'].str.replace('Ceylon', 'Sri Lanka')
/tmp/ipykernel_2830/2139335115.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medal['NOC'] = df_medal['NOC'].str.replace('Formosa', 'Chinese Taipei')
/tmp/ipykernel_2830/2139335115.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medal['NOC'] = df_medal['NOC'].str.replace('FR Yugoslavia', 'Serbia and Montenegro')
/tmp/ipykernel_2830/2139335115.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medal['NOC'] = df_medal['NOC'].str.replace('Great Britain', 'United Kingdom')
/tmp/ipykernel_2830/2139335115.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medal['NOC'] = df_medal['NOC'].str.replace('Macedonia', 'North Macedonia')

In [8]:
# Sort by Year and reset the index
df_medal.sort_values(by='Year', inplace=True)
df_medal.reset_index(drop=True, inplace=True)

/tmp/ipykernel_2830/4195399891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medal.sort_values(by='Year', inplace=True)

In [9]:
# Now remove years that are irreleavant

# Remove years
years_to_remove = [1906,1916,1940,1944]
df_medal = df_medal[~df_medal['Year'].isin(years_to_remove)]

df_medal.to_csv('./data/cleaned_summerOly_medal_count.csv',index=False)

# Cleaning Athelets

- The following countries are removed in athelets dataset: ['AHO','NFL', 'YUG', 'IOA','EOR','AIN','BOH','ANZ','UNK','WIF','MAL','ROC','EUN','TCH','FRG','SAA','ROT']
- They are removed because of some problems with country beign split....
- Again, some counries code were renmaed to other.
- Now, replace Lebanon LIB to LBN
- Now, replace Vietnam , VNM with VIE
- East Germany replaced as Germany
- Now, replace Rhodesia with Zimbawe , RHO with ZIM
- Replace NBO 	 North Borneo with Malaysia NBO to MAS

In [19]:
df_athelete = pd.read_csv(url_atheletes)
df_athelete['Event'] = df_athelete['Event'].str.strip()
df_athelete['Sport'] = df_athelete['Sport'].str.strip()
df_athelete['Medal'] = df_athelete['Medal'].str.strip()
df_athelete['Team'] = df_athelete['Team'].str.strip()
df_athelete['NOC'] = df_athelete['NOC'].str.strip()

df_athelete.drop('City', axis=1, inplace=True)


classifications_sport = df_athelete['Sport'].unique()
# Initialize and fit the label encoder
le_sport = LabelEncoder()
sport_encoded_labels = le_sport.fit(classifications_sport)

# Apply Label Encoding to the 'Category' column
df_athelete['Sport'] = le_sport.transform(df_athelete['Sport'])


#Event Encoding
classifications_event = df_athelete['Event'].unique()
# Initialize and fit the label encoder
le_event = LabelEncoder()
event_encoded_labels = le_event.fit(classifications_event)

# Apply Label Encoding to the 'Category' column
df_athelete['Event'] = le_event.transform(df_athelete['Event'])

#Medal Encoding
classifications_medal = df_athelete['Medal'].unique()

# Save the encoder to a file
with open('./pickle/sport_encoder.pkl', 'wb') as file:
    pickle.dump(le_sport, file)

with open('./pickle/event_encoder.pkl', 'wb') as file:
    pickle.dump(le_event, file)

df_athelete = pd.get_dummies(df_athelete, columns=['Medal'], prefix='Medal')
df_athelete['Medal_Gold'] = df_athelete['Medal_Gold'].apply(lambda x: 1 if x else 0)
df_athelete['Medal_Silver'] = df_athelete['Medal_Silver'].apply(lambda x: 1 if x else 0)
df_athelete['Medal_Bronze'] = df_athelete['Medal_Bronze'].apply(lambda x: 1 if x else 0)
df_athelete['Medal_No medal'] = df_athelete['Medal_No medal'].apply(lambda x: 1 if x else 0)

In [20]:
# Remove certain countries
# Remove countries
codes_to_remove = ['AHO','NFL', 'YUG', 'IOA','EOR','AIN','BOH','ANZ','UNK','WIF','MAL','ROC','EUN','TCH','FRG','SAA','ROT']
df_athelete = df_athelete[~df_athelete['NOC'].isin(codes_to_remove)]

# Now, replace Lebanon
df_athelete['NOC'] = df_athelete['NOC'].str.replace('LIB', 'LBN')

# Now, replace Vietnam , VNM with VIE
df_athelete['NOC'] = df_athelete['NOC'].str.replace('VNM', 'VIE')

#East Germany replaced as Germany
df_athelete['NOC'] = df_athelete['NOC'].str.replace('GDR', 'GER')

# Now, replace Rhodesia with Zimbawe , RHO with ZIM
df_athelete['NOC'] = df_athelete['NOC'].str.replace('RHO', 'ZIM')

# Replace NBO 	 North Borneo with Malaysia
df_athelete['NOC'] = df_athelete['NOC'].str.replace('NBO', 'MAS')

Empty DataFrame
Columns: [Name, Sex, Team, NOC, Year, Sport, Event, Medal_Bronze, Medal_Gold, Medal_No medal, Medal_Silver]
Index: []

In [26]:
#Drop some years
years_to_remove = [1906,1916,1940,1944]
df_athelete = df_athelete[~df_athelete['Year'].isin(years_to_remove)]

In [21]:
with open('./pickle/countries_mapping.pkl', 'rb') as f:
    countries_map = pickle.load(f)

def assign_country_code(value):
    return countries_map[value]
    
df_athelete['NOC'] = df_athelete['NOC'].apply(assign_country_code)

In [16]:
# Sort by Year and reset the index
df_athelete.sort_values(by='Year', inplace=True)
df_athelete.reset_index(drop=True, inplace=True)

df_athelete.to_csv('./data/cleaned_summerOly_atheletes.csv',index=False)

df_athelete

,Name,Sex,Team,NOC,Year,Sport,Event,Medal_Bronze,Medal_Gold,Medal_No medal,Medal_Silver
0,Georgios Grigoriou,M,Greece,Greece,1896,8,117,0,0,1,0
1,Alexandros Khrysafos,M,Greece,Greece,1896,63,741,0,0,1,0
2,Alphonse Grisel,M,France,France,1896,8,78,0,0,1,0
3,John Boland,M,Great Britain,United Kingdom,1896,67,808,0,1,0,0
4,Francis Lane,M,United States,United States,1896,8,78,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
242672,Emanuela Liuzzi,F,Italy,Italy,2024,75,940,0,0,1,0
242673,Isayah Boers,M,Netherlands,Netherlands,2024,8,8,0,1,0,0
242674,Davonte Howell,M,Cayman Islands,Cayman Islands,2024,8,396,0,0,1,0
242675,Isabella Millar,F,Solomon Islands,Solomon Islands,2024,63,900,0,0,1,0
242676,Charlie Carvell,M,Great Britain,United Kingdom,2024,8,425,1,0,0,0

In [13]:
# AFter changing country NOC to Full Name, I need to work how to use Team

In [17]:
ioc_country = {'AFG': 'Afghanistan', 'ALB': 'Albania', 'ALG': 'Algeria', 'AND': 'Andorra', 'ANG': 'Angola', 'ANT': 'Antigua and Barbuda', 'ARG': 'Argentina', 'ARM': 'Armenia', 'ARU': 'Aruba', 'ASA': 'American Samoa', 'AUS': 'Australia', 'AUT': 'Austria', 'AZE': 'Azerbaijan', 'BAH': 'Bahamas', 'BAN': 'Bangladesh', 'BAR': 'Barbados', 'BDI': 'Burundi', 'BEL': 'Belgium', 'BEN': 'Benin', 'BER': 'Bermuda', 'BHU': 'Bhutan', 'BIH': 'Bosnia and Herzegovina', 'BIZ': 'Belize', 'BLR': 'Belarus', 'BOL': 'Bolivia', 'BOT': 'Botswana', 'BRA': 'Brazil', 'BRN': 'Bahrain', 'BRU': 'Brunei', 'BUL': 'Bulgaria', 'BUR': 'Burkina Faso', 'CAF': 'Central African Republic', 'CAM': 'Cambodia', 'CAN': 'Canada', 'CAY': 'Cayman Islands', 'CGO': 'Republic of the Congo', 'CHA': 'Chad', 'CHI': 'Chile', 'CHN': 'China', 'CIV': 'Ivory Coast', 'CMR': 'Cameroon', 'COD': 'Democratic Republic of the Congo', 'COK': 'Cook Islands', 'COL': 'Colombia', 'COM': 'Comoros', 'CPV': 'Cape Verde', 'CRC': 'Costa Rica', 'CRO': 'Croatia', 'CUB': 'Cuba', 'CYP': 'Cyprus', 'CRT': 'Czech Republic', 'DEN': 'Denmark', 'DJI': 'Djibouti', 'DMA': 'Dominica', 'DOM': 'Dominican Republic', 'ECU': 'Ecuador', 'EGY': 'Egypt', 'ERI': 'Eritrea', 'ESA': 'El Salvador', 'ESP': 'Spain', 'EST': 'Estonia', 'ETH': 'Ethiopia', 'FIJ': 'Fiji', 'FIN': 'Finland', 'FRA': 'France', 'FSM': 'Federated States of Micronesia', 'GAB': 'Gabon', 'GAM': 'Gambia', 'GBR': 'United Kingdom', 'GBS': 'Guinea-Bissau', 'GEO': 'Georgia', 'GEQ': 'Equatorial Guinea', 'GER': 'Germany', 'GHA': 'Ghana', 'GRE': 'Greece', 'GRN': 'Grenada', 'GUA': 'Guatemala', 'GUI': 'Guinea', 'GUM': 'Guam', 'GUY': 'Guyana', 'HAI': 'Haiti', 'HKG': 'Hong Kong', 'HON': 'Honduras', 'HUN': 'Hungary', 'INA': 'Indonesia', 'IND': 'India', 'IRI': 'Iran', 'IRL': 'Ireland', 'IRQ': 'Iraq', 'ISL': 'Iceland', 'ISR': 'Israel', 'ISV': 'Virgin Islands', 'ITA': 'Italy', 'IVB': 'British Virgin Islands', 'JAM': 'Jamaica', 'JOR': 'Jordan', 'JPN': 'Japan', 'KAZ': 'Kazakhstan', 'KEN': 'Kenya', 'KGZ': 'Kyrgyzstan', 'KIR': 'Kiribati', 'KOR': 'South Korea', 'KOS': 'Kosovo', 'KSA': 'Saudi Arabia', 'KUW': 'Kuwait', 'LAO': 'Laos', 'LAT': 'Latvia', 'LBA': 'Libya', 'LBN': 'Lebanon', 'LBR': 'Liberia', 'LCA': 'Saint Lucia', 'LES': 'Lesotho', 'LIE': 'Liechtenstein', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'MAD': 'Madagascar', 'MAR': 'Morocco', 'MAS': 'Malaysia', 'MAW': 'Malawi', 'MDA': 'Moldova', 'MDV': 'Maldives', 'MEX': 'Mexico', 'MGL': 'Mongolia', 'MHL': 'Marshall Islands', 'MKD': 'North Macedonia', 'MLI': 'Mali', 'MLT': 'Malta', 'MNE': 'Montenegro', 'MON': 'Monaco', 'MOZ': 'Mozambique', 'MRI': 'Mauritius', 'MTN': 'Mauritania', 'MYA': 'Myanmar', 'NAM': 'Namibia', 'NCA': 'Nicaragua', 'NED': 'Netherlands', 'NEP': 'Nepal', 'NGR': 'Nigeria', 'NIG': 'Niger', 'NOR': 'Norway', 'NRU': 'Nauru', 'NZL': 'New Zealand', 'OMA': 'Oman', 'PAK': 'Pakistan', 'PAN': 'Panama', 'PAR': 'Paraguay', 'PER': 'Peru', 'PHI': 'Philippines', 'PLE': 'Palestine', 'PLW': 'Palau', 'PNG': 'Papua New Guinea', 'POL': 'Poland', 'POR': 'Portugal', 'PRK': 'North Korea', 'PUR': 'Puerto Rico', 'QAT': 'Qatar', 'ROU': 'Romania', 'RSA': 'South Africa', 'RUS': 'Russia', 'RWA': 'Rwanda', 'SAM': 'Samoa', 'SEN': 'Senegal', 'SEY': 'Seychelles', 'SGP': 'Singapore', 'SKN': 'Saint Kitts and Nevis', 'SLE': 'Sierra Leone', 'SLO': 'Slovenia', 'SMR': 'San Marino', 'SOL': 'Solomon Islands', 'SOM': 'Somalia', 'SRB': 'Serbia', 'SRI': 'Sri Lanka', 'SSD': 'South Sudan', 'STP': 'Sao Tome and Principe', 'SUD': 'Sudan', 'SUI': 'Switzerland', 'SUR': 'Suriname', 'SVK': 'Slovakia', 'SWE': 'Sweden', 'SWZ': 'Eswatini', 'SYR': 'Syria', 'TAN': 'Tanzania', 'TGA': 'Tonga', 'THA': 'Thailand', 'TJK': 'Tajikistan', 'TKM': 'Turkmenistan', 'TLS': 'Timor-Leste', 'TOG': 'Togo', 'TPE': 'Chinese Taipei', 'TTO': 'Trinidad and Tobago', 'TUN': 'Tunisia', 'TUR': 'Turkey', 'TUV': 'Tuvalu', 'UAE': 'United Arab Emirates', 'UGA': 'Uganda', 'UKR': 'Ukraine', 'URU': 'Uruguay', 'USA': 'United States', 'UZB': 'Uzbekistan', 'VAN': 'Vanuatu', 'VEN': 'Venezuela', 'VIE': 'Vietnam', 'VIN': 'Saint Vincent and the Grenadines', 'YEM': 'Yemen', 'ZAM': 'Zambia', 'ZIM': 'Zimbabwe', 'URS': 'Soviet Union', 'UAR': 'United Arab Republic', 'YAR': 'Yemen Arab Republic', 'YMD': 'Yemen Democratic Republic', 'SCG': 'Serbia and Montenegro', 'CZE': 'Czechia'}

# Open a file for writing in binary mode
with open('./pickle/countries_mapping.pkl', 'wb') as file:
    # Dump the dictionary into the file
    pickle.dump(ioc_country, file)